[submodule ".registry"]
	path = .registry
	url = https://github.com/vimc/universe/
	shallow = true
	branch = HEAD
[submodule "montagu"]
	path = montagu
	url = https://github.com/vimc/montagu-r
	shallow = true
	branch = master
	registered = true
[submodule "orderly"]
	path = orderly
	url = https://github.com/vimc/orderly
	shallow = true
	branch = master
	registered = true
[submodule "vaultr"]
	path = vaultr
	url = https://github.com/vimc/vaultr
	shallow = true
	branch = master
	registered = true
[submodule "jenner"]
	path = jenner
	url = https://github.com/vimc/jenner
	shallow = true
	branch = master
	registered = true
[submodule "beers"]
	path = beers
	url = https://github.com/mrc-ide/beers
	shallow = true
	branch = master
	registered = true
[submodule "dettl"]
	path = dettl
	url = https://github.com/vimc/dettl
	shallow = true
	branch = master
	registered = true
[submodule "jsonvalidate"]
	path = jsonvalidate
	url = https://github.com/ropensci/jsonvalidate
	shallow = true
	branch = master
	registered = true
[submodule "spud"]
	path = spud
	url = https://github.com/reside-ic/spud
	shallow = true
	registered = false
