[submodule ".registry"]
	path = .registry
	url = https://github.com/vimc/vimc.r-universe.dev
	branch = HEAD
[submodule "beers"]
	path = beers
	url = https://github.com/mrc-ide/beers
	branch = master
[submodule "dettl"]
	path = dettl
	url = https://github.com/vimc/dettl
	branch = master
[submodule "fakerbase"]
	path = fakerbase
	url = https://github.com/reside-ic/fakerbase
	registered = false
[submodule "jenner"]
	path = jenner
	url = https://github.com/vimc/jenner
	branch = master
[submodule "jsonvalidate"]
	path = jsonvalidate
	url = https://github.com/ropensci/jsonvalidate
	branch = master
[submodule "logwatch"]
	path = logwatch
	url = https://github.com/reside-ic/logwatch
	registered = false
[submodule "montagu"]
	path = montagu
	url = https://github.com/vimc/montagu-r
	branch = master
[submodule "orderly1"]
	path = orderly1
	url = https://github.com/vimc/orderly1
	branch = master
[submodule "orderlyweb"]
	path = orderlyweb
	url = https://github.com/vimc/orderlyweb
	branch = master
[submodule "porcelain"]
	path = porcelain
	url = https://github.com/reside-ic/porcelain
	branch = master
[submodule "rrq"]
	path = rrq
	url = https://github.com/mrc-ide/rrq
	branch = master
[submodule "vaultr"]
	path = vaultr
	url = https://github.com/vimc/vaultr
	branch = master
[submodule "vimclimate"]
	path = vimclimate
	url = https://github.com/vimc/vimclimate
	branch = main
[submodule "vimpact"]
	path = vimpact
	url = https://github.com/vimc/vimpact
	branch = master
